@font-face {
  font-family: "Blacksword";
  src: url("../fonts/Blacksword.otf") format("opentype");
}

@font-face {
  font-family: "Floral";
  src: url("../fonts/Boheme\ Floral.ttf") format("truetype");
}

@font-face {
  font-family: "Hijrnotes";
  src: url("../fonts/Hijrnotes_PERSONAL_USE_ONLY.ttf") format("truetype");
}

@font-face {
  font-family: "PersonalUseOnly";
  src: url("../fonts/Pharmount_PersonalUseOnly.ttf") format("truetype");
}

@font-face {
  font-family: "GowunDodum";
  src: url("../fonts/GowunDodum-Regular.ttf") format("truetype");
}

.a1 {
  font-family: "PersonalUseOnly";
  color: aliceblue;
}
.a7 {
  font-family: "Floral";
  color: aliceblue;
}

.a11 {
  font-family: "Hijrnotes";
  color: aliceblue;
}

.a16 {
  font-family: "Gowun Dodum", sans-serif;
  color: aliceblue;
}

.b3 {
  font-family: "GowunDodum";
  color: rgb(57, 97, 132);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}

body {
  background-color: rgb(71, 71, 71);
  width: 100vw;
  box-sizing: border-box;
}

header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  padding: 20px 50px 50px 10px;
  z-index: 100;
  /* background: rgb(0, 0, 0); */
}

.logo {
  font-family: "Blacksword";
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.9em;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation a:hover {
  color: rgb(253, 186, 198);
  font-weight: 600;
}

.login {
  appearance: none;
  position: absolute;
  left: 88%;
  width: 120px;
  height: 36px;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 450;
  transition: 0.5s;

  box-sizing: border-box;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }

  border-color: rgba(255, 255, 255, 0.245);
  color: #fff;
  box-shadow: 0 0 30px 30px rgba(253, 253, 253, 0) inset,
    0 0 0 0 rgb(227, 161, 255);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 8px 0 rgb(255, 255, 255) inset,
      0 0 6px 3px rgb(255, 255, 255);
  }
}

.login i {
  margin-right: 15px;
}

/*메인부분 시작*/

.main_container {
  position: relative;
}

/*메인 슬라이드*/
.slideshow {
  /* margin: 0 auto; */
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background-size: cover; /* 이미지를 화면에 맞게 조절 */
  background-position: center; /* 이미지를 가운데 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
}

.slideshow .cake1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      167deg,
      rgba(0, 0, 0, 1) 19%,
      rgba(0, 0, 0, 0.706) 46%,
      rgba(0, 0, 0, 0.286) 74%,
      rgba(0, 0, 0, 0) 97%
    ),
    url(../image/cakecake.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  z-index: 50;
}

.slideshow .cake2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      167deg,
      rgba(0, 0, 0, 1) 19%,
      rgba(0, 0, 0, 0.706) 46%,
      rgba(0, 0, 0, 0.286) 74%,
      rgba(0, 0, 0, 0) 97%
    ),
    url(../image/choco2.jpg) no-repeat center;
  background-size: cover;
  display: flex;
}

.slideshow .cake3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      167deg,
      rgba(0, 0, 0, 1) 19%,
      rgba(0, 0, 0, 0.706) 46%,
      rgba(0, 0, 0, 0.286) 74%,
      rgba(0, 0, 0, 0) 97%
    ),
    url(../image/slider-2-background-img-1.jpg) no-repeat center;
  background-size: cover;
  display: flex;
}

.main_slider {
  position: relative;
  width: 100%;
  display: flex;
}

.cakelist {
  position: relative;
  width: 100%;
}

.roll_content {
  position: absolute;
  top: 210px;
  left: 170px;
  z-index: 110;

  display: inline-block;
  animation: slide 3s ease-in-out;
}
@keyframes slide {
  from {
    left: -500px;
    opacity: 0;
  }
  to {
    left: 170px;
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    left: 200px;
    opacity: 1;
  }
  to {
    left: -500px;
    opacity: 0;
  }
}

.slide_title1 {
  font-family: "Hijrnotes";
  color: #bd6d88;
  font-size: 40px;
  margin-left: 6px;
  font-weight: 900;
}

.slide_subtitle1 {
  font-family: "Floral";
  color: #ffffff;
  font-size: 100px;
  margin-bottom: 15px;
  margin-left: 6px;
  font-weight: 500;
}

.slide_content1 {
  font-family: "Gowun Dodum", sans-serif;
  color: #efefef;
  font-size: 20px;
}

.slide_content1 i {
  color: #ffffff;
  font-size: 28px;
  margin-left: 15px;
  animation: shake 1.5s ease-in-out infinite;
  animation-duration: 2.8s;
}

@keyframes shake {
  0% {
    transform: rotateZ(-6deg);
  }
  50% {
    transform: rotateZ(6deg);
  }
  100% {
    transform: rotateZ(-6deg);
  }
}

/* about us */

.aboutus {
  position: relative;
  width: 100%;
}
.about_1 {
  margin-top: 50px;
  font-size: 5em;
  text-align: center;
  font-family: "Hijrnotes";
  color: rgb(210, 144, 173);
  animation: appear 6s ease-out;
  animation: shakeit 2.5s 4s ease-in-out infinite;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shakeit {
  0% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(-1deg);
  }
}

.line {
  margin: auto;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.7px solid white;
  animation: appearline 5s ease-out infinite;
}

@keyframes appearline {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about_2 {
  position: relative;
  right: 220px;
  margin-top: 22px;
  font-size: 2.3em;
  text-align: right;
  font-family: "GowunDodum";
  font-weight: 300;
  color: rgb(255, 255, 255);
  animation: appear 6s 4s ease-out;
}

.about_content {
  color: white;
  text-align: right;
  position: absolute;
  bottom: 90px;
  left: 740px;
  font-size: 1.3em;
  line-height: 2;
}

.more {
  width: 75px;
  text-align: center;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  position: absolute;
  top: 570px;
  left: 1240px;
}

.choco_cake {
  /* position: absolute; */
  display: inline-block;
  margin-left: 12em;
  margin-top: 6em;
  height: 15em;
  /* box-shadow: inset 0px 0px 2px gray; */
}

.choco_cake img {
  width: 7em;
  height: 7em;
  transform: rotate(45deg);
  margin: 0px 60px 60px 0px;
}

.best_slider {
  width: 80%;
  height: 600px;
  margin: 0px auto;
  border: 1px dashed red;
  position: relative;
  padding-top: 30px;
}

.best_item {
  width: 100%;
  height: 450px;
  display: flex;
  border: 1px dashed rgb(0, 128, 255);
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.best_item .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  /* transform: translate(-50%, -50%); */
  font-size: 5em;
  color: rgb(224, 0, 142);
  z-index: 200;
}

.best_item .next {
  position: absolute;
  top: 50%;
  right: 30px;
  /* transform: translate(-50%, -50%); */
  font-size: 5em;
  color: rgb(141, 6, 51);
  z-index: 200;
}

.best1,
.best2,
.best3,
.best4,
.best5,
.best6 {
  width: 300px;
  height: 300px;
  margin: 20px 20px 28px 20px;

  border-radius: 14px;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}

.best1 {
  background-image: url(../image/dd1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.best2 {
  background-image: url(../image/160021253_1042960386194420_4940860257910118354_n.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.best3 {
  background-image: url(../image/348866033_234582412546948_8905066352779851370_n.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.best4 {
  background-image: url(../image/m3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.best5 {
  background-image: url(../image/d5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.best6 {
  background-image: url(../image/m3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-arrow {
  /* display: none; */
}
